.wrp_tooltip {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  border-radius: '5px';
  height: '40px';
  width: '100px';
  color: 'white';
  white-space: 'nowrap';
  font-size: '14px';
  background-color: 'rgb(34, 34, 34)';
  padding: '5px';
}
