$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$lightGray: #e9edf3;

$accentColor: rgb(0, 119, 204);
$successColor: rgb(0, 191, 179);
$errorColor: #bd271e;

$baseFontColor: rgb(52, 55, 65);

$inputColorBorder: rgb(217, 217, 217);

$scrollBackground: rgba(105, 112, 125, 0.5);

$textColor: rgb(0, 107, 184);
